<template>
    <div class="container">
        <div class="header">
            <div class="header-content">
                <input @keyup.enter="addTodo" v-model="newTodo" class="input" type="text" placeholder="Enter an activity...">
                <button @click="addTodo" class="header-button"></button>
            </div>
        </div>
        <transition-group class="todo-list" tag="div" name="slideInTop" v-if="todos.length">
            <TodoItem v-for="(todo, index) in todosFiltered" :key="todo.id" :todo="todo" :index="index" :checkAll="noRemaining"/>
        </transition-group>
        <div class="no-list" v-else>
            Please add items to List
        </div> 
        <div class="extra-container">
            <div class="extra-container-content" v-if="showCheckAll">
                <label class="input-checkbox">
                    <input type="checkbox" :checked="noRemaining" @change="checkAllTodos">
                    <span class="checkmark"></span>
                </label>
                <p>Check All</p>
            </div>
            <div class="remaining-items">Remaining items left: {{remaining}}</div>
        </div>
        <div class="extra-container">
            <div class="filter-buttons">
                <button :class="{active: filter == 'all'}" @click="filter = 'all'" class="button">All</button>
                <button :class="{active: filter == 'active'}" @click="filter = 'active'" class="button">Active</button>
                <button :class="{active: filter == 'completed'}" @click="filter = 'completed'" class="button">Completed</button>
            </div>
            <transition name="fade">
                <button v-if="showClearCompleted" @click="clearCompleted" class="button">Clear completed</button>
            </transition>
        </div>
    </div>
</template>

<script>
import TodoItem from './TodoItem'

export default {
    components: {
        TodoItem
    },
    name: 'TodoList',
    data: function() {
        return {
            newTodo: '',
            idForTodo: 0,
            checkAll: false,
            filter: 'all',
            todos: []
        }
    },
    methods: {
        // add item
        addTodo: function() {
            if(this.newTodo.trim() === '') return;

            // add item to array
            let todoItem = {id:this.idForTodo, title: this.newTodo, completed:false, editing:false}
            this.todos.push(todoItem);

            // save all items to local storage
            localStorage.setItem('todoList', JSON.stringify(this.todos));
            this.idForTodo++
            this.newTodo = '';
        },
        // remove item
        removeTodo: function(index) {
            this.todos.splice(index, 1);
            localStorage.setItem('todoList', JSON.stringify(this.todos));
        },
        checkAllTodos: function(event) {
            this.todos.forEach(function(todo) {
                // set completed state for every todo item based on check all
                todo.completed = event.target.checked;
            });
        },
        // delete completed items from list
        clearCompleted: function() {
            this.todos = this.todos.filter(function(todo) {
                return !todo.completed;
            })
            localStorage.setItem('todoList', JSON.stringify(this.todos));
        },
        doneEdit: function(data) {
            this.todos.splice(data.index, 1, data.todo);
            localStorage.setItem('todoList', JSON.stringify(this.todos));
        }
    },
    computed: {
        // count uncompleted todos
        remaining: function() {
            let count = 0;
            this.todos.forEach(function(todo) {
                if(!todo.completed) count++;
            })
            return count;
        },
        noRemaining: function() {
            return this.remaining == 0;
        },
        todosFiltered: function() {
            if(this.filter == 'all') {
                return this.todos;
            }
            else if(this.filter == 'active') {
                let data = this.todos.filter(function(todo) {
                   return !todo.completed;
                });
                return data;
            }
            else if(this.filter == 'completed') {
                let data = this.todos.filter(function(todo) {
                   return todo.completed;
                });
                return data;
            }
        },
        showClearCompleted: function() {
            let count = 0;
            this.todos.forEach(function(todo) {
                if(todo.completed) count++;
            });

            if(count > 0) {
                return true;
            }

            return false;
        },
        showCheckAll: function() {
            return this.todos.length;
        }
    },
    created: function() {
        let me = this;

        // if there are items in local storage fill array and set id
        let localStorageTodos = localStorage.getItem('todoList');
        let todosLenght = (localStorageTodos) ? JSON.parse(localStorageTodos).length : false;
        if(todosLenght) {
            this.todos = JSON.parse(localStorageTodos);
            let lastItem = this.todos.length - 1
            this.idForTodo = this.todos[lastItem].id + 1;
        }
        
        // add event listeners
        eventBus.$on('removeTodo', function(index) {
            me.removeTodo(index);
        });

        eventBus.$on('doneEdit', function(data) {
            me.doneEdit(data);
        });
    }
}
</script>
