<template>
    <div class="todo-item">
        <div class="todo-box">
            <div v-if="!editing" class="todo-content">
                <label class="input-checkbox">
                    <input type="checkbox" v-model="completed" @change="doneEdit" :checked="checkAll">
                    <span class="checkmark"></span>
                </label>
                <p @dblclick="editTodo" :class="{completed: completed}" class="todo-item-text">{{title}}</p>
            </div>
            <input v-else v-focus @blur="doneEdit" @keyup.esc="cancelEdit" @keyup.enter="doneEdit" v-model="title" class="todo-input" type="text">
        </div>
        <div class="todo-buttons">
            <button @click="removeTodo(index)" class="todo-remove-btn">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 22 22" style="enable-background:new 0 0 22 22;" xml:space="preserve"><rect class="noFill" width="22" height="22"/><g><g><path class="fill" d="M16.1,3.6h-1.9V3.3c0-1.3-1-2.3-2.3-2.3h-1.7C8.9,1,7.8,2,7.8,3.3v0.2H5.9c-1.3,0-2.3,1-2.3,2.3v1.3c0,0.5,0.4,0.9,0.9,1v10.5c0,1.3,1,2.3,2.3,2.3h8.5c1.3,0,2.3-1,2.3-2.3V8.2c0.5-0.1,0.9-0.5,0.9-1V5.9C18.4,4.6,17.4,3.6,16.1,3.6z M9.1,3.3c0-0.6,0.5-1.1,1.1-1.1h1.7c0.6,0,1.1,0.5,1.1,1.1v0.2H9.1V3.3z M16.3,18.7c0,0.6-0.5,1.1-1.1,1.1H6.7c-0.6,0-1.1-0.5-1.1-1.1V8.2h10.6L16.3,18.7L16.3,18.7z M17.2,7H4.8V5.9c0-0.6,0.5-1.1,1.1-1.1h10.2c0.6,0,1.1,0.5,1.1,1.1V7z"/></g><g><g><path class="fill" d="M11,18c-0.4,0-0.6-0.3-0.6-0.6v-6.8c0-0.4,0.3-0.6,0.6-0.6s0.6,0.3,0.6,0.6v6.8C11.6,17.7,11.4,18,11,18z"/></g><g><path class="fill" d="M8,18c-0.4,0-0.6-0.3-0.6-0.6v-6.8C7.4,10.2,7.7,10,8,10c0.4,0,0.6,0.3,0.6,0.6v6.8C8.7,17.7,8.4,18,8,18z"/></g><g><path class="fill" d="M14,18c-0.4,0-0.6-0.3-0.6-0.6v-6.8c0-0.4,0.3-0.6,0.6-0.6c0.4,0,0.6,0.3,0.6,0.6v6.8C14.6,17.7,14.3,18,14,18z"/></g></g></g></svg>
            </button>
        </div>
    </div>
</template>

<script>
export default {
    props: ['todo', 'index', 'checkAll'],
    directives: {
        focus: {
            inserted: function (el) {
            // Focus the element
            el.focus()
            }
        }
    },
    data: function() {
        return {
            id: this.todo.id,
            title: this.todo.title,
            completed: this.todo.completed,
            editing: this.todo.editing,
            beforeEditCache: '',
        }
    },
    methods: {
        removeTodo: function(index) {
            eventBus.$emit('removeTodo', index);
        },
         // change editing state
        editTodo: function() {
            this.editing = true;
            // save the original title before editing
            this.beforeEditCache = this.title;
        },
        // on blur or enter update todo
        doneEdit: function() {
            if(this.title.trim() === '') this.title = this.beforeEditCache;
            this.editing = false;

            let emitData = {
                index: this.index,
                todo: {
                    id: this.id,
                    title: this.title,
                    completed: this.completed,
                    editing: this.editing
                }
            }
            eventBus.$emit('doneEdit', emitData);
        },
         // on esc key, revert todo to original state
        cancelEdit: function() {
            this.editing = false;
            this.title = this.beforeEditCache;
        }
    },
    watch: {
        checkAll: function() {
            (this.checkAll) ?  this.completed = true : this.completed = false;
        }
    }
}
</script>
