// COLORS
$colorGreenFirst: #25b99a;
$colorWhiteFirst: #fff;
$colorGreyFirst: #edf0f1;
$colorGreySecond: #adadad;
$colorGreyThird: #8d8d8d;
$colorGreyFourth: #adadad66;
$colorBlackFirst: #14141480;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
   // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-size: 1.6rem;
}

// FADE IN/OUT ANIMATION
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

// SLIDE IN FROM TOP
@keyframes slide-in-top {
    0% {
        transform: translateY(-3rem);
    }
    100% {
        transform: translateY(0rem);
    }
}

// fade in/out vue
.fade-enter-active {
    animation: fade-in .3s forwards;
 }
 .fade-leave-active {
    animation: fade-out .3s forwards;
 }

 // slide in from top vue
.slideInTop-enter-active {
    animation: slide-in-top .3s forwards;
    animation-timing-function: ease-in;
 }


.button {
    min-width: 4rem;
    border: none;
    padding: .5rem .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #51C7AE;
    color: #fffcfc;
    border-radius: 0.2rem;
    transition: all .3s;
    font-size: 1.4rem;
    outline: none;

    &:hover, &.active {
        background-color: #33A58D;
        color: #fff;
        cursor: pointer;
    }
}

// remove strange border on mozilla
button::-moz-focus-inner {
    border: 0;
}
  
 /* Customize the label (the container) */
 .input-checkbox {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    bottom: 10px;
    margin-right: 2rem;

    /* Hide the browser's default checkbox */
    & input {
        position: absolute;
        left: 0;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */
    & .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 2rem;
        width: 2rem;
        background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    &:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
  
  /* Show the checkmark when checked */
    & input:checked ~ .checkmark:after {
        display: block;
    }
  
  /* Style the checkmark/indicator */
    & .checkmark:after {
        left: 9px;
        top: 3px;
        width: 5px;
        height: 12px;
        border: solid black;
        border-width: 0 2px 2px 0;
        transform: rotate(35deg);
    }
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 90rem;
}

.header {
    margin-bottom: 1rem;
    height: 8rem;
    z-index: 5;
    background-color: $colorGreenFirst;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 2px 4px  rgba(44, 62, 80, .15);
    padding: 1.3rem 0rem 1.3rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;

    & .header-content {
        width: 85%;
        margin: 0 auto;
        position: relative;
    }

    & .input {
        width: 100%;
        height: 5rem;
        background-color: rgba(255, 255, 255, .2);
        color: $colorWhiteFirst; 
        border: 0px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        font-size: 1.5rem;
        text-indent: 2rem;
        padding-right: 6rem;
        
        &::placeholder {
            color: rgba(255, 255, 255, .75);
            font-size: 1.5rem;
        }
    }

    & .header-button {
        position: absolute;
        width: 5rem;
        height: 5rem;
        right: 0px;
        top: 0px;
        z-index: 2;
        border: none;
        border-radius: 25px;
        background-image: url(../img/add_icon.svg);
        background-size: 2rem 2rem;
        background-repeat: no-repeat;
        background-position: center;
        background-color: $colorWhiteFirst;
        transition: all .3s;

        &:active {
            background-color: $colorBlackFirst;
        }
    }
}

.todo-list {
    margin-bottom: 3rem;

    & .todo-item {
        min-height: 5rem;
        background-color: $colorWhiteFirst;
        border-radius: 5px;
        border: 1px solid $colorGreyFourth;
        box-shadow: 0px 1px 2px rgba(44,62,82, .10);
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 1.6rem;
        padding: 1rem 5rem 1rem 1rem;
        word-break: break-all;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    & .todo-box {
        width: 100%;
    }

    & .todo-content {
        flex: 1;
        min-height: 3rem;
        align-items: center;
        display: flex;
    }

    & .todo-item-text {
        margin-left: 2rem;

        &.completed {
            color: $colorBlackFirst;
            text-decoration: line-through;
        }
    }

    & .todo-input {
        width: 100%;
        height: 3rem;
        background-color: rgba(201, 191, 191, 0.2);
        color: $colorGreyThird; 
        border: 0px;
        border-radius: .5rem;
        font-size: 1.5rem;
        text-indent: 2rem;
        padding-right: 6rem;
    }

    & .todo-buttons {
        width: 4rem;
        height: 5rem;
        right: 0px;
        top: 0;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & .todo-remove-btn {
        border: none;
        height: 5rem;
        width: 100%;
        background-color: transparent;

        &:hover {
            cursor: pointer;
        }

        & svg {
            height: 2.5rem;
            width: 2.5rem;
            fill: transparent;
        }

        & .fill {
            fill:#c0cecb;
            transition: all .3s;
        }

        &:hover .fill {
            fill: rgb(216, 43, 43);
            cursor: pointer;
        }
    }
}

.no-list {
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #939393;
    font-size: 2rem;
}

.extra-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 5px 0px rgba(204, 204, 204, 0.8);
    height: 4rem;
    margin-top: 2rem;
    padding: 3rem 1rem; 

    & .extra-container-content {
        display: flex;
        align-items: center;
        flex: 1;

        & p {
            margin-left: 2rem;
        }
    }

    & .remaining-items {
        flex: 1;
        text-align: right;
    }
}

.filter-buttons {
    display: flex;

    & .button {
        margin-right: .5rem;
    }
}